table#drugTable {  
  background-color: white;
  border: 0.5px solid black;
}

table{
  padding: 8px;
}
td {
  border-collapse: collapse;
}

#drugTableWindow{
  display: inline;
}

#blogWindow, #databankWindow, #companyWindow, #drugsOfCompanyWindow, #diseaseWindow {
  display: none;
  padding: 10px;
}

#blogWindow #blogList button, #blogWindow td{
  border: none;
  background: white;
  font-size: 15px;
}

#blogWindow td#blogText table {
  border-collapse: collapse;
}
#blogWindow td#blogText table tr, #blogWindow td#blogText table td {
  border: solid thin;
  padding: 2px; 
}

button#drugTableBtn, button#blogBtn, button#companyBtn, button#diseaseBtn, button#databankBtn, button#newsBtn {
  background-color: #08089b;
  border: 1px solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}


div#siteHeader, div#footer{
  background-color: white;
  border: 1px solid rgb(121, 121, 121);
  padding: 2px;
}