
table{
  padding: 8px;
}

td {
  border-collapse: collapse;
  font-family: "Arial";
  font-size: 14px;
}

img#siteLogo {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: center;
  padding: 10px;
}

#blogWindow img {
  width: 200px;
  height: 200px;
}

#mainPage img {
  width: 100px;
  height: 100px;
}


#blogWindow #blogList button, #blogWindow td{
  border: none;
  background: white;
  font-size: 15px;
}

#blogWindow td#blogText table tr, #blogWindow td#blogText table td, #blogWindow td#blogText table {
  border: solid thin;
  border-collapse: collapse;
}

#drugTableWindow table#drugTable tr, #drugTableWindow table#drugTable td, #drugTableWindow table#drugTable th, #drugTableWindow table#drugTable,
#companyWindow table#CompanyTable tr, #companyWindow table#CompanyTable td, #companyWindow table#CompanyTable th, #companyWindow table#CompanyTable
{
  border:solid thin;
  padding: 2px;
  border-collapse: collapse;
}

button#mainPageBtn, button#drugTableBtn, button#blogBtn, button#companyBtn, button#diseaseBtn, button#databankBtn, button#newsBtn {
  background-color: #ffffff;
  border: 1px solid white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: "Arial";
  font-weight: bold;
}

button#mainPageBtn:hover, button#drugTableBtn:hover,
 button#blogBtn:hover, button#companyBtn:hover, button#diseaseBtn:hover, button#databankBtn:hover, button#newsBtn:hover,
 #blogWindow table#blogList button:hover {
  border: 4px solid rgb(87, 1, 1);
  color: rgb(87, 0, 0);
}

div#siteHeader, div#footer{
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(121, 121, 121);
}

#drugTableWindow, #blogWindow, #databankWindow, #companyWindow, #diseaseWindow {
  padding: 10px;
}