table#drugTable {  
  background-color: white;
  border: 0.5px solid black;
}

table{
  padding: 8px;
}
td {
  border-collapse: collapse;
}

#drugTableWindow{
  display:inline;
}

#blogWindow {
  display:none;
}


button#drugTableBtn, button#blogBtn, button#companyBtn, button#diseaseBtn, button#databankBtn {
  background-color: #08089b;
  border: 1px solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}



div#siteHeader{
  background-color: white;
  border: 1px solid rgb(121, 121, 121);
}